@import url("reset.css");

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1.17rem;
    font-weight: 400;
    color: #666;
    /*altura de linea division entre el tamano de la letra y el espacio entre lineas*/
    line-height: 1.5;
    /*poner el footer al final de la pagina - paso 1*/
    min-height: 100vh; /*altura minima*/
    display: flex;
    flex-direction: column; /*para poner el footer al final, las tres ultimas lineas*/
}

header{
background-color: #333;
}

.container{
max-width: 938px;
margin: 0 auto;
}

#main-menu {
background: #666;
}

#main-menu ul a:link, nav ul a:visited{
        color: #f9f9f9;
        transition: all 0.3s ease-in-out; /*Todos los elementos van a tener el efecto de transicion / velocidad del efecto / sale tranquilo y termina tranquilo*/
}

#main-menu ul a:hover, nav ul a:active{
    color: #050505;
    text-decoration: underline;
    font-size: 1.25rem;
}

#main-menu li:first-child a{ /*mueve el primer elemento a la izquierda para ajustarlo con el elemento de arriba (le quita el padding que se le dio a todos los elementos del ul)*/
padding-left: 0;
}

#main-menu ul{
font-size: 16px;
}

nav ul a{
display: block;
padding: 1rem;
color: white;
text-decoration: none;
}

nav ul{
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 0;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
}

main{
    width: 638px;
    padding: 2.5rem 1.188rem 4rem 0;
}

article {
margin-bottom: 2.5rem;
padding-bottom: 2.5rem;
border-bottom: 1px #bbb solid;
}

article .image{
width: 160px;
height: 160px;
}

article h2{
    font-weight: 700;
    font-size: 24px;
    color: #333;
    padding-bottom:18px;

}

article:last-child{
    border-bottom: none;
}

.content{
    font-weight: 400;
    margin: 0 0 0 18px;
    
}

.content p{
    font-size: 14px;
    padding: 0 6px 10px  0;
}

.content a {
color:#f58220;
text-decoration: none;

}

aside{
    width: 300px;
    background-color: #e5e5e5;
    padding: 20px;
}

aside p{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 14px;
    padding-top :20px;
    color: #666;
    text-align:left;
}

aside #nav-content ul{
    font-size: 14px;
}

aside #nav-content ul a{
    display: block;
    text-decoration: none;
    color: #f58220;
    padding: 10px 0 0 30px;
}

aside h3{
    border-bottom: 1px #bbb solid;
    font-weight: 400;
    font-size: 16px;
    padding: 17px 0 ;
    color: #333;
}

.footer{
    background: #333;
    padding: 18px 0 25px 0;
    font-weight: 500;
    font-size: 12px;
    color: #cccccc;
    /*poner el footer al final de la pagina - paso 2*/
    margin-top:auto ;
}

footer a{
    color:#f58220;
    text-decoration: none;   
}