$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
  8: 8rem,
  12: 12rem,
  15: 15rem,
) !default;

$font-family-base: "Tektur", serif;
$font-secondary: "Roboto", sans-serif;

$primary:  #fa6420;
$secondary: #494444;

$navbar-light-hover-color:  $primary;
$body-bg: #141414;
$body-color:  white;
$navbar-light-color: white;
$line-height-base: 1.8;
$btn-close-color: white;
$navbar-nav-link-padding-x: 10px;